<div style="margin: 10px">

	<div style="font-size: 25px"><b><u>{{'UpcomingEvents' | translate}}</u></b>
	</div>

	<div style="overflow-y: scroll; height: 500px; margin-top: 10px">
		<div class="wrap-col" ng-repeat="event in getEvents()">
			<div class="heading" style="padding-bottom: 7px">
				<div style="font-size: 20px"><b>{{event.nameOfEvent}}</b>
				</div>
			</div>
			<auto;class="content">
			<table>
				<tr>
					<td style="height: 175px;width: 200px">
						<img style="width: 200px; height: 175px" ng-src= {{event.image}}  width="750" height="750"/>
					</td>
					<td style="padding-left: 10px">
						<p>{{event.description}}</p>
						<div style="text-align: right">
							<button ng-click="details(event)">{{'Detail' | translate}}</button>
						</div>
					</td>
				</tr>
			</table>
			<hr>
		</div>
		<div class="text-center">
			<ul class="pagination" text-align="center">
				<li ng-class="{'disabled': pageIs(0)}"><a ng-click="!pageIs(0) && eventsPrevious()" ><span aria-hidden="true">«</span></a></li>
				<li ng-repeat="number in howMuchEvents()" class="paginate_button" ng-class="{'active': pageIs(number)}" ng-click="events(number)">
				<a>{{number + 1}}</a>
				</li> 
				<li ng-class="{'disabled': pageIsMax()}"><a ng-click="!pageIsMax() && eventsNext()"><span aria-hidden="true">»</span></a></li>
		</div>
		</ul>
	</div>

</div>