<div>

<div style="margin: 10px">

	<div style="font-size: 25px; padding-bottom: 15px"><b><u>{{'AvailableEvents' | translate}}</u></b>
	</div>
	
	<div style="font-size: 20px"><b>{{'Option1' | translate}} - {{'EventSelected' | translate}}: {{eventSelected1}}</b>
	</div>

	<div style="overflow-y: scroll; height: 250px; margin-top: 10px">
		<div class="wrap-col" ng-repeat="event in getEventsForTour1()">
			<div class="heading">
				<div style="font-size: 20px"><b>{{event.nameOfEvent}}</b>
				</div>
				<div class="info">{{event.scheduler}} - {{event.address}}
					<button ng-click="verMapa()">{{'Ubicacion' | translate}}</button>
				</div>
			</div>
			<auto;class="content">
			<table>
				<tr>
					<td>
						<img ng-src= {{event.image}}  width="750" height="750"/>
					</td>
					<td style="padding-left: 10px">
						<p>{{event.description}} - {{'Coin' | translate}}{{event.amount}}</p>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary btn-block btn-flat" style="padding: 0px; height: 25px" ng-click="selectEvent1(event)">{{'SelectEvent' | translate}}</button>
		</div>
	</div>

	<hr>

	<div style="font-size: 20px"><b>{{'Option2' | translate}} - {{'EventSelected' | translate}}: {{eventSelected2}}</b>
	</div>

	<div style="overflow-y: scroll; height: 250px; margin-top: 10px">
		<div class="wrap-col" ng-repeat="event in getEventsForTour2()">
			<div class="heading">
				<div style="font-size: 20px"><b>{{event.nameOfEvent}}</b>
				</div>
				<div class="info">{{event.scheduler}} - {{event.address}}
					<button ng-click="verMapa()">{{'Ubicacion' | translate}}</button>
				</div>
			</div>
			<auto;class="content">
			<table>
				<tr>
					<td>
						<img ng-src= {{event.image}}  width="750" height="750"/>
					</td>
					<td style="padding-left: 10px">
						<p>{{event.description}} - {{'Coin' | translate}}{{event.amount}}</p>
					</td>
				</tr>
			</table>
			<button class="btn btn-primary btn-block btn-flat" style="padding: 0px; height: 25px" ng-click="selectEvent2(event)">{{'SelectEvent' | translate}}</button>
		</div>
	</div>

	<div style="text-align: right; padding-top: 20px">
		<button ng-click="back('/newTour')">{{'Back' | translate}}</button>
		<button ng-click="next()">{{'Next' | translate}}</button>
	</div>

</div>