<div ng-app="stain">

    <div style="font-size: 20px"><b>Descripcion del evento</b></div>
    <div style="font-size: 15"><b>Aca va toda la descripcion</b></div>
    <div style="font-size: 18"><b>Mapa:</b></div>
    
    

    <input id="origin-input" class="busquedaDeUbicacion" type="text" placeholder="origin location">

    <input id="destination-input" class="busquedaDeUbicacion" type="text" placeholder="destination location">

    <div id="mode-selector" class="busquedaDeUbicacion">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>

    <div id="map" style="height:320px;"></div>
 </div>

















 







 <!--  <div id="mode-selector" class="busquedaDeUbicacion">
      

      

     
  </div> -->