<div style="margin: 10px">
  <div style="margin: 10px">
    <table style="width: 100%">
      <tr>
        <td style="padding-right: 0px; padding-bottom: 15px">
          <div style="font-size: 40px;padding-bottom: 5px; padding-top: 1px"><b>{{event.nameOfEvent}}</b>
          </div>
          <div class="info">{{event.scheduler}} - {{event.address}}
          </div>
          <!--<div>{{'Date' | translate}}: {{event.date}}
          </div>-->
          <div>{{'LimitOfPersons' | translate}}: {{event.limitOfPersons}}
          </div>
          <div>{{'Coin' | translate}}{{event.amount}}
          </div>
          <br>
          <button ng-click="assistt()">{{'Attend' | translate}}</button>
          <button ng-click="notAssist()">{{'NotAttend' | translate}}</button>
          <div style="padding-top: 3px">{{'Attend' | translate}}: {{assist}}
          </div>
        <td style="width: 275px;height: 225px;padding-right: 0px; padding-bottom: 15px">
          <img style="width: 275px; height: 225px" ng-src= {{event.image}}  width="750" height="750"/>
        </td>
      </tr>
    </table>
    <div>
      <div style="font-size: 20px"><b>{{'Description' | translate}}</b>
      </div>
      <p>{{event.description}}</p>
    </div>
    <br>
    <div>
      <input id="origin-input" class="busquedaDeUbicacion" type="text" placeholder="origin location">
      <input id="destination-input" class="busquedaDeUbicacion" type="text" placeholder="destination location">
      <div id="mode-selector" class="busquedaDeUbicacion">
        <input type="radio" name="type" id="changemode-walking" checked="checked">
        <label for="changemode-walking">Walking</label>
        <input type="radio" name="type" id="changemode-driving">
        <label for="changemode-driving">Driving</label>
      </div>
      <div id="map" style="height:320px;">
      </div> 
    </div>
    <br>
    <div>
      <div style="font-size: 20px;padding-bottom: 5px"><b>{{'Suggestions' | translate}}</b>
      </div>
      <div ng-repeat="event in getSuggestions() | limitTo : 3">
        <table style="margin-top: 10px">
          <tr style="padding-bottom: 5px">
            <td style="padding-right: 10px; height: 50px">
              <img style="width: 50px; height: 50px" ng-src= {{event.image}} width="50" height="50" />
            </td>
            <td style="padding-top: 15px">
              {{event.nameOfEvent}}
              <button style="padding-left: 5px;margin-left: 5px" ng-click="details(event)">{{'Detail' | translate}}</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
  </div>
</div>