<div style="margin: 10px">
	
	<div style="font-size: 25px"><b><u>New Tour</u></b>
	</div>
	<br>


	<table style="margin-bottom: 20px; width: 100%"">
		<tr>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="selectTypeOfTour(0)">Half<br>Orange</button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="selectTypeOfTour(1)">Saturday<br>Night<br>Fever</button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="selectTypeOfTour(2)">Gasolera </button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="selectTypeOfTour(3)">With<br>Friends</button>
			</td>
			<td>
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="selectTypeOfTour(4)">Surprise<br>Me</button>
			</td>
		</tr>
	</table>

	<div>Type of tour selected: {{typeOfTour}}</div>

	<table style="width: 100%">
		<tr>
			<td style="padding-right: 20px">
				<table style="width: 100%">
					<tr>
						<td style="padding-right: 20px">
							<p>Scheduler</p>
						</td>
						<td style="padding-right: 20px">
							<fieldset>
			      				<ul style="display: inline">
        							<li>
          								<label for="title_1">
            								<input type="radio" id="morning" name="title" value="A"/ ng-click="selectScheduler(0)"/>
            								Morning
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="afternoon" name="title" value="B" ng-click="selectScheduler(1)"/>
            								Afternoon
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="night" name="title" value="C" ng-click="selectScheduler(2)"/>
            								Night
          								</label>
        							</li>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px">
							<p>Limit Amount</p>
						</td>
						<td style="padding-right: 20px">
							<fieldset>
			      				<ul style="display: inline">
        							<input type="text" id="amount" ng-model=limitAmount name="limit amount" required/>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px">
							<p>Friends</p>
						</td>
						<td style="padding-right: 20px">
							<input type="text" id="friends" name="friends" required />
							<fieldset>
			      				<ul style="display: inline">
										<div style="overflow-y: scroll; height: 75px" >
											<div ng-repeat="friend in friends">
												<a ng-click="selectFriend(nombre)" id="nombre">{{friend.userName}}</a>
											</div>
										</div>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
				</table>
			</td>
			<td style="padding-right: 20px">
				<p>Date</p>
				<input type="date" ng-model=date name="cumpleanios" step="1" min="2016-11-15" max="2020-12-31" value="2016-11-15">
			</td>
		</tr>
	</table>

	<div style="text-align: right">
		<button ng-click="cancel('/events')">Cancelar</button>
		<button ng-click="aceptar()">Aceptar</button>
	</div>

	<div>Type of tour selected: {{typeOfTour}}</div>
	<div>Type of tour selected: {{scheduler}}</div>
	<div>Type of tour selected: {{limitAmount}}</div>
	<div>Type of tour selected: {{date}}</div>
	<div>Type of tour selected: {{friendsSelected}}</div>
</div>