<div style="margin: 10px">
	
	<div style="font-size: 25px"><b><u>New Tour</u></b>
	</div>
	<br>


	<table style="margin-bottom: 20px; width: 100%"">
		<tr>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="agregar()">Half<br>Orange</button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="agregar()">Saturday<br>Night<br>Fever</button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="agregar()">Gasolera</button>
			</td>
			<td style="padding-right: 20px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="agregar()">With<br>Friends</button>
			</td>
			<td>
				<button type="button" class="btn btn-warning" style="height: 75px; width: 75px" ng-click="agregar()">Surprise<br>Me</button>
			</td>
		</tr>
	</table>

	<table style="width: 100%">
		<tr>
			<td style="padding-right: 20px">
				<table style="width: 100%">
					<tr>
						<td style="padding-right: 20px">
							<p>Scheduler</p>
						</td>
						<td style="padding-right: 20px">
							<fieldset>
			      				<ul style="display: inline">
        							<li>
          								<label for="title_1">
            								<input type="radio" id="title_1" name="title" value="A"/>
            								Morning
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="title_2" name="title" value="B"/>
            								Afternoon
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="title_3" name="title" value="C"/>
            								Night
          								</label>
        							</li>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px">
							<p>Limit Amount</p>
						</td>
						<td style="padding-right: 20px">
							<fieldset>
			      				<ul style="display: inline">
        							<input type="text" id="amount" name="limit amount" required />
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px">
							<p>Friends</p>
						</td>
						<td style="padding-right: 20px">
							<input type="text" id="friends" name="friends" required />
							<fieldset>
			      				<ul style="display: inline">
										<div style="overflow-y: scroll; height: 75px" >
											<div ng-repeat="friend in friends">
												<a href="#profile">{{friend.userName}}</a>
											</div>
										</div>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
				</table>
			</td>
			<td style="padding-right: 20px">
				<p>Date</p>
				<input type="date" name="cumpleanios" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">
			</td>
		</tr>
	</table>

	<div style="text-align: right">
		<button>Cancelar</button>
		<button>Aceptar</button>
	</div>
</div>