<div style="margin: 10px">
	
	<div style="font-size: 25px"><b><u>{{'NewTour' | translate}}</u></b>
	</div>
	<br>


	<table style="margin-bottom: 20px; width: 100%"">
		<tr>
			<td style="padding-right: 10px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 110px" ng-click="selectTypeOfTour('Half Orange');">{{'Half' | translate}}<br>{{'Orange' | translate}}</button>
			</td>
			<td style="padding-right: 10px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 110px" ng-click="selectTypeOfTour('Saturday Night Fever');">{{'Saturday' | translate}}<br>{{'NightSaturday' | translate}}<br>{{'Fever' | translate}}</button>
			</td>
			<td style="padding-right: 10px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 110px" ng-click="selectTypeOfTour('Gasolera');">{{'Gasolera' | translate}}</button>
			</td>
			<td style="padding-right: 10px">
				<button type="button" class="btn btn-warning" style="height: 75px; width: 110px" ng-click="selectTypeOfTour('With Friends');">{{'With' | translate}}<br>{{'Friends' | translate}}</button>
			</td>
			<td>
				<button type="button" class="btn btn-warning" style="height: 75px; width: 110px" ng-click="selectTypeOfTour('Surprise Me');">{{'SurpriseMe' | translate}}</button>
			</td>
		</tr>
	</table>

	<div style="padding-bottom:10px"">{{'TypeOfTourSelected' | translate}}: {{typeOfTour}}</div>

	<table style="width: 100%">
		<tr>
			<td style="padding-right: 20px">
				<table style="width: 100%">
					<tr>
						<td style="padding-right: 20px">
							<p>{{'Scheduler' | translate}}</p>
						</td>
						<td style="padding-right: 20px;padding-bottom: 10px"">
							<fieldset>
			      				<ul style="display: inline">
        							<li>
          								<label for="title_1">
            								<input type="radio" id="morning" name="title" value="A"/ ng-click="selectScheduler(0)"/>
            								{{'Morning' | translate}}
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="afternoon" name="title" value="B" ng-click="selectScheduler(1)"/>
            								{{'Afternoon' | translate}}
          								</label>
        							</li>
        							<li>
          								<label for="title_2">
            								<input type="radio" id="night" name="title" value="C" ng-click="selectScheduler(2)"/>
            								{{'Night' | translate}}
          								</label>
        							</li>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px;padding-bottom: 10px"">
							<p>{{'LimitAmount' | translate}}</p>
						</td>
						<td style="padding-right: 20px;padding-bottom: 10px"">
							<fieldset>
			      				<ul style="display: inline">
        							<input type="text" id="amount" ng-model=limitAmount name="limit amount" required/>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-right: 20px">
							<p>{{'Friends' | translate}}</p>
						</td>
						<td style="padding-right: 20px">
							<fieldset>
			      				<ul style="display: inline">
        							<input type="text" id="friends" ng-model=friendsSelected name="friends" required/>
      			  				</ul>
    						</fieldset>
						</td>
					</tr>
				</table>
			</td>
			<td style="padding-right: 20px">
				<p>{{'Date' | translate}}</p>
				<input type="date" ng-model=date name="cumpleanios" step="1" min="2016-11-15" max="2020-12-31" value="2016-11-15">
			</td>
		</tr>
	</table>

	<div style="text-align: right">
		<button ng-click="cancel('/events')">{{'Cancel' | translate}}</button>
		<button ng-click="aceptar()">{{'Accept' | translate}}</button>
	</div>
</div>